@import "~bootstrap/scss/bootstrap";
.formControl{
	/*background-color: #ffdf80!important;*/
	justify-content: center!important;
	text-align: center!important;
	position: relative;
	background-color:#f5f5f5;
}

.links, .links:hover{
	text-decoration: none;
}

ul{
	list-style: none;
}

.buttons{
	border: none!important;
	outline: none!important;
}
.myProgress {
  width: 100%;
  background-color: #ddd;
}

.myBar {
  width: 1%;
  height: 30px;
  background-color: #4CAF50;
}