/* Fix button container at the bottom right coner and make it's background transparent */
.buttonWrapper{
	background-color: transparent;
	bottom: 0;
	right:0;
	margin-right: 5px;
	margin-bottom: 8px;
	position: fixed;
	display: block;
	z-index: 999;
}

/* Prevent border line after user clicks on the button */
#button{
	border: 0!important;
	outline: none;
}